@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans:
        Montserrat, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Montserrat', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(220 60% 10%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(220 60% 10%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(220 60% 10%);
    --primary: hsl(205 100% 50%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(210 60% 95%);
    --secondary-foreground: hsl(215 60% 30%);
    --muted: hsl(210 60% 95%);
    --muted-foreground: hsl(215 60% 40%);
    --accent: hsl(195 100% 90%);
    --accent-foreground: hsl(205 100% 30%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(210 60% 90%);
    --input: hsl(210 60% 90%);
    --ring: hsl(205 100% 50%);
    --chart-1: hsl(205 100% 50%);
    --chart-2: hsl(195 100% 65%);
    --chart-3: hsl(215 60% 30%);
    --chart-4: hsl(220 60% 10%);
    --chart-5: hsl(210 60% 95%);
    --radius: 0.75rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(0 0% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(0 0% 94%);
    --sidebar-accent-foreground: hsl(0 0% 30%);
    --sidebar-border: hsl(0 0% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --sidebar: hsl(0 0% 98%);
}

.dark {
    --background: hsl(220 60% 10%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(220 50% 15%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(220 50% 15%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(205 100% 50%);
    --primary-foreground: hsl(0 0% 10%);
    --secondary: hsl(215 60% 30%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(215 60% 20%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent: hsl(195 100% 65%);
    --accent-foreground: hsl(0 0% 10%);
    --destructive: hsl(0 84% 60%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(215 60% 20%);
    --input: hsl(215 60% 20%);
    --ring: hsl(205 100% 50%);
    --chart-1: hsl(205 100% 50%);
    --chart-2: hsl(195 100% 65%);
    --chart-3: hsl(215 60% 30%);
    --chart-4: hsl(0 0% 98%);
    --chart-5: hsl(215 60% 20%);
    --sidebar-background: hsl(220 60% 7%);
    --sidebar-foreground: hsl(0 0% 95.9%);
    --sidebar-primary: hsl(205 100% 50%);
    --sidebar-primary-foreground: hsl(0 0% 10%);
    --sidebar-accent: hsl(220 50% 15%);
    --sidebar-accent-foreground: hsl(0 0% 95.9%);
    --sidebar-border: hsl(215 60% 20%);
    --sidebar-ring: hsl(205 100% 50%);
    --sidebar: hsl(240 5.9% 10%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .container-custom {
        @apply container mx-auto max-w-7xl overflow-hidden px-4 sm:px-8 lg:px-12;
    }

    .page-custom {
        @apply container mx-auto mt-12 max-w-7xl px-4 py-16 sm:px-8 lg:px-12;
    }

    .container-custom-y {
        @apply py-4 sm:py-8 lg:py-12;
    }
}
html,
body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);

    ::-webkit-scrollbar {
        width: 0.6em;
        height: auto;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(----background);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--chart-3);
        border-radius: 10px;
    }
}
